html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background: #fff; 
  }

  .description p {
    text-align: center;
  }

  h1{
    text-align: center;
  }

  .form{
    text-align: center;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }